body {
       margin: 0;
       padding: 0;
       width: 100%;
       height: auto;
       background-color: #111;
}
.login-container {
       width: 100%;
       height: 100vh;
       background-repeat: no-repeat;
       background-position: bottom center;
       background-size: contain;
       display: flex;
       justify-content: center;
       align-items: center;
}
.login {
       width: 50%;
       display: flex;
       margin-left: auto;
       margin-right: auto;
       flex-direction: column;
       padding: 4em;
       background-color: rgba(46, 45, 45, 0.596);
       border: none;
}
.login input {
       width: 50%;   
       height: 2em;
       font-size: 1.5em;
       font-family: Arial, Helvetica, sans-serif;
       color: #fff;
       border-bottom: 1px solid rgb(156, 18, 18);
       border-right: none ;
       margin-left: auto;
       margin-right: auto;
       background-color: transparent;
}
.login label {
       font-size: 2em;
       color: #fff;
}
.login-head {
       text-align: center;
       display: inline;
       color: rgb(156, 18, 18) !important;
}
.welcome {
       display: inline;
       color: #fff;
}
.login button {
       width: 50%;
       background-color: rgb(156, 18, 18);
       border: 1px solid rgb(156, 18, 18);
       font-size: 2em;
       color: #fff;
       margin-top: .5em;
       padding: .25em;
       margin-left: auto;
       margin-right: auto;
       transition: 0.3s ease;
}
.login button:hover {
       background-color: transparent;
       color: rgb(156, 18, 18);
       border: 1px solid rgb(156, 18, 18);
       cursor: pointer;
       transition: 0.3s ease;
}
.login h1 {
       color: #fff;
       font-weight: 300;
       text-align: center;
}
.signup-link {
       color: #fff;
}
.signup-link:hover {
       color: rgb(156, 18, 18);
}
.search-input {
       width: fit-content;
       font-size: 1.5em;
       height: 2em;
       background-color: #111;
       border: none;
       color: #fff;
}
.search-input::placeholder {
       padding-left: 0.5em;
}
.message-container {
       width: 100%;
       height: auto;
       background-color: rgb(156, 18, 18);
       padding-bottom: 1em;
       padding-top: 1em;
}
.nav-container{
       width: 95%;
       margin-left: auto;
       margin-right: auto;
       display: flex;
       align-items: center;
       justify-content: space-between;
}
.search-btn {
       background-color: #111;
       font-size: 1.5em;
       border: none;
       height: 2em;
       border-radius: 25px;
       padding-left: 1em;
       padding-right: 1em;
       margin-left: 15px;
       color: #fff;
       border: 1px solid rgb(156, 18, 18);
       transition: 0.3s ease;
       width: fit-content;
}
.search-btn:hover {
       cursor: pointer;
       background-color: rgb(156, 18, 18);
       border: 1px solid #fff;
       transition: 0.3s ease;
}
.change-profileImg {
       width: 33%;
       height: auto;
       display: flex;
       align-items: center;
       justify-content: space-between;
}
.profileImg {
       width: 75px;
       height: 75px !important;
       object-fit: cover;
       border-radius: 50%;
}
.profileImg:hover {
       cursor: pointer;
}
.search-res-container {
       display: none;
       width: 100%;
       height: 100vh;
       position: fixed;
       color: #fff;
       background-color: rgba(17, 17, 17, 0.534);
       top: 0%;
       flex-direction: column;
       z-index: 99;
}
.searchImg {
       width: 300px;
       height: 300px;
       object-fit: cover;
       margin-left: auto;
       margin-right: auto;
       margin-top: 10%;
       border-radius: 50%;
}
#results-btn{
       margin-left: auto;
       margin-right: auto;
       z-index: 9999 !important;
}
#results-btn:hover {
       cursor: pointer;
}
.messaging-container {
       width: 100%;
       display: flex;
       height: 89vh;
}
.inbox-container {
       width: 25%;
       border-right: 1px solid red;
}
.messages{
       width: 75%;
       position: relative;
       overflow-y: scroll;
}
.messages-send{
       position: absolute;
       bottom: 3%;
       width: 100%;
       left: 0%;
}
.message-input{
       width: 80%;
       background-color: transparent;
       border: 1px solid rgb(156, 18, 18);
       font-size: 1.25em;
       margin-left: 15px;
       color: #fff;
}
.send-msg-btn {
       background-color: transparent;
       border: none;
}
.send-msg-btn:hover .fa-paper-plane{
       border: 1px solid #fff;
       color: #fff;
       cursor: pointer;
       transition: 0.3s ease;
}
.fa-paper-plane {
       color: rgb(156, 18, 18);
       font-size: 1.25em;
       border: 1px solid rgb(156, 18, 18);
       border-radius: 50%;
       padding: 15px;
       transition: 0.3s ease;
}
.msg-props-container{
       width: 100%;
}
.inboxImg {
       width: 50px;
       height: 50px;
       border-radius: 50%;
}
.chat-container {
       display: flex;
       align-items: baseline;
       color: #fff;
}
@media only screen and (max-width: 600px) {
       .login input{
              width: 100%;
       }
       .login button {
              width: 100%;
       }
       .search-input {
              width: 50%;
       }
       .inbox-container {
              width: fit-content;
       }
       .nav-container{
              width: 100%;
              margin-left: auto;
              margin-right: auto;
              display: flex;
              align-items: center;
              justify-content: space-around;
       }
       .search-btn {
              font-size: 15px;
       }
     }